<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="{{root}}index.html#blog" class="pure-menu-link">Blog</a></li>
    <li class="pure-menu-item"><a href="{{root}}indes.html#spacemacs" class="pure-menu-link">Spacemacs</a></li>
    <li class="pure-menu-item"><a href="{{root}}index.html#journal" class="pure-menu-link">Journal</a></li>
    <li class="pure-menu-item"><a href="{{personal-site-organization-url}}" class="pure-menu-link">Work</a></li>
  </ul>
</div>
